@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px white solid; */
  font-family: "Orbitron", sans-serif;
  color: white;
}
body {
  background-color: rgb(0, 1, 34);
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  width: 80%;
  display: flex;
  align-items: end;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
/* nav */
nav {
  max-width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__nav--container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__row {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__background--img--wrapper {
  position: absolute;
  max-width: 100%;
  max-height: 40vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  align-items: center;
}

.nav__background--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  filter: brightness(50%);
}

.search__title {
  font-size: 48px;
  font-weight: 100;
  color: white;
  padding: 24px;
}

.nav__search-bar {
  border: 3px white solid;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__input {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 24px;
}
.search__input::placeholder {
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.search__input:focus {
  outline: none;
}
.search__icon {
  width: 30px;
  height: 30px;
  color: white;
  font-weight: 200;
  padding: 0 6px;
}
.nav__container {
  display: flex;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px white solid;
  
}
.nav__links {
  display: flex;
}
.nav__link {
  font-size: 24px;
  font-weight: 500;
  margin: 12px;
  text-decoration: none;
}

.nav__logo {
  width: 300px;
  font-size: 40px;
}
/* items */

.item {
  width: 24%;
  padding: 15px;
  margin: 15px 4px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-bottom: 2px solid white;
  cursor: pointer;
  transition: all 300ms ease;
}

.item:hover {
  transform: translateY(-8px);
}

.item__img--wrapper {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__img {
  width: 100%;
  max-width: 100%;
  max-height: 275px;
}

.item__title {
  font-size: 20px;
  text-decoration: none;
}

.item__link {
  text-decoration: none;
}

.item__loading--state{
  width: 24%;
  padding: 15px;
  margin: 15px 4px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-bottom: 2px solid white;
}

.img__placeholder{
  width: 100%;
  height: 275px;
  max-width: 100%;
  max-height: 275px;
  background-color: rgb(30, 30, 133);
}

.title__placeholder{
  background-color: rgb(30, 30, 133);
  height: 10px;
}

/* item page  */

.item__page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item__page__img--wrapper {
  max-width: 100%;
  height: 1000px;
  max-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.item__page--img{
  height: 100%;
}

.item__description--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  max-width: 60vw;
}
.item__page--title {
  border-bottom: 2px solid white;
}
.item__page--description {
  font-size: 20px;
  padding: 14px 0;
  font-weight: 500;
}

.item__page--link {
  font-size: 20px;
}

.placeholder__container{
  width: 100%;
  
}

.placeholder__row{
  width: 80%;
  height: 70vh;
  margin: 0 auto;
}

.item-page__img--placeholder{
  width: 80%;
  margin: 0 auto;
  height: 80%;
  background-color: rgb(30, 30, 133);
}

.item-page__title--placeholder{
  width: 80%;
  height: 96px;
  background-color: white ;
  margin: 24px auto;
  
}